= simple_form_for @article do |f|
  - if @article.errors.any?
    =error_messages_for @article

  .form-inputs
    -#=raise section_options.inspect
    -#=f.input :section do
    =f.association :section#, options_for_select(section_options,f.object.try(:section_id))
    =f.input :title
    =f.input :description
    =f.input :body
    =f.input :hidden do
      =f.check_box :hidden
    .mt-3
      =f.input :images do
        = f.file_field :images, multiple: true, direct_upload: true
      -unless (action_name.to_sym == :create)||(!@article.errors.blank?)
        -if @article.images.attached?
          %ul
            -@article.images.each do |x|
              %li
                = link_to x.filename, controller: :articles, action: :deliver_image, id: x.id
                = link_to  delete_image_article_url(x.id),method: :delete,
                    data: { confirm: I18n.t('helpers.sure') } do
                  =icon('fas','trash')
                %input.form-controle{value: url_for(x)}
  .actions
    = f.button :submit, 'Save', class: "btn-info"
