%header.mb-4
  .nav.navbar.navbar-expand-xl.font-italic.navbar-light
    .container-fluid
      .navbar-brand.mr-4
        -#%span= image_tag("mephi_logo.png", :alt => "НИЯУ МИФИ", class: "logo")
        =link_to root_path, {class: 'h2', 'data-turbolinks-action'=>"replace"} do
          .h2.font-weight-bold=t('app.hack_and_protect')
      %button.navbar-toggler{type: "button", data: {toggle: 'collapse', target: '#navbar'}}
        %i.fas.fa-bars
      #navbar.collapse.navbar-collapse
        .navbar-nav.mr-auto
          =link_to articles_path, class: 'btn nav-item mx-1','data-turbolinks-action'=>"replace" do
            %span.h5
              %i.fas.fa-newspaper
            %span.h5=t('articles.feed')
          -if Section.all.any?
            %span.nav-item.dropdown
              =link_to  ?#, class: 'mx-1 black nav-link dropdown-toggle  my-auto text-center','data-turbolinks-action'=>"replace", data: {toggle: 'dropdown'} do
                %span.h5=t( 'sections.sections')
              .dropdown-menu.dropdown-menu-right
                -Section.all.each do |x|
                  =link_to x.name,articles_path(section: x.id), class: 'dropdown-item h6 text-center','data-turbolinks-action'=>"replace"
          = link_to about_path, class: 'btn mx-1','data-turbolinks-action'=>"replace" do
            %span.h5
              %i.fab.fa-phoenix-framework
            %span.h5= t('helpers.about_mes')
          -if current_user
            =link_to favorite_articles_path, class: 'btn mx-1','data-turbolinks-action'=>"replace" do
              %span.h5
                %i.fas.fa-star
              %span.h5= t('articles.favorite_articles')
        .mr-4
         
          
          = form_with url: articles_path, method: 'GET', local: true do
            .input-group
              = text_field_tag :search, nil, class: "form-control", placeholder: "Find articles"
              .input-group-append
                = submit_tag "Search", class: 'btn btn-outline-secondary btn-sm'
        -if current_user
          -if new_notifications?
            %span.text-warning= %i{class: 'fas fa-bell'}
          .navbar-nav.my-1
            .nav-item.dropdown.text-center
              =link_to ?#, class: 'nav-link dropdown-toggle text-nowrap my-auto h5', data: {toggle: 'dropdown'} do
                -if current_user.user_profile.present?
                  -if current_user.user_profile.avatar.attached?
                    %span=image_tag current_user.user_profile.avatar, class: 'icon'
                  =current_user.user_profile.username
                -else
                  =current_user.email
              .dropdown-menu.dropdown-menu-right
                =link_to notifications_path, class: "dropdown-item h5 #{class_for_bell}",'data-turbolinks-action'=>"replace" do
                  %span
                    %i.fas.fa-bell
                  =t('notifications.notifications')
                =link_to current_user.user_profile, class: 'dropdown-item h5','data-turbolinks-action'=>"replace" do
                  %i.fas.fa-user
                  =t('user_profile.my_account')
                =link_to destroy_user_session_path, method: :delete,  class: 'dropdown-item h5','data-turbolinks-action'=>"replace" do
                  %i.fas.fa-sign-out-alt
                  =t('sessions.logout.btn')

        -else
          .button-groupnewspaper
            =link_to new_user_session_path, class: 'btn btn-outline-primary mr-1','data-turbolinks-action'=>"replace" do
              %i.fas.fa-sign-in-alt
              =t('helpers.sign_in')
            =link_to new_user_registration_url, class: 'btn btn-outline-primary','data-turbolinks-action'=>"replace" do
              %i.fas.fa-user-plus
              =t('helpers.sign_up')
