!!!
%html{ html_attrs('ru') }
  %head
    -#=favicon_link_tag 'favicon.png'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      =t('app.title')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    =render 'header'
    =render 'flash'
    .container-fluid.wrapper
      -#.turbolinks-progress-bar=image_tag('console.gif')
      = yield
    =render 'footer'
